@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

p, a {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #060607;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 56px;
    line-height: 65px;
}

h2 {
    font-size: 34px;
    line-height: 42px;
}

h4 {
    font-size: 20px;
    line-height: 28px;
}
